<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap demo</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">
</head>
<body>
	<h1>Hello, world!</h1>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
		integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
		integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
		crossorigin="anonymous"></script>

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Login</th>
				<th>Password</th>
				<th>FirstName</th>
				<th>LastName</th>
				<th>Role</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${persons.empty}">
				<td colspan="2">No Persons Available</td>
			</tr>
			<tr th:each="person : ${persons}">
				<td><span th:text="${person.personID}"> ID </span></td>
				<td><span th:text="${person.login}"> Login </span></td>
				<td><span th:text="${person.password}"> Password </span></td>
				<td><span th:text="${person.firstName}"> FirstName </span></td>
				<td><span th:text="${person.lastName}"> LastName </span></td>
				<td><span th:text="${person.role}"> Role </span></td>
			</tr>
		</tbody>
	</table>


	<form action="#" th:action="@{/persons/save}" th:object="${form}"
		method="post">
		<fieldset>
			<input type="submit" id="submitButton" th:value="Save"> <input
				type="reset" id="resetButton" name="reset" th:value="Reset" />
			<table>
				<thead>
					<tr>
						<th>ID</th>
						<th>Login</th>
						<th>Password</th>
						<th>FirstName</th>
						<th>LastName</th>
						<th>Role</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="bperson, itemStat : *{persons}">
						<td><input
							th:field="*{persons[__${itemStat.index}__].personID}" /></td>
						<td><input th:field="*{persons[__${itemStat.index}__].login}" /></td>
						<td><input
							th:field="*{persons[__${itemStat.index}__].password}" /></td>
						<td><input
							th:field="*{persons[__${itemStat.index}__].firstName}" /></td>
						<td><input
							th:field="*{persons[__${itemStat.index}__].lastName}" /></td>
						<td><input th:field="*{persons[__${itemStat.index}__].role}" /></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
	</form>
</body>
</html>